@media (min-width: 1001px) {
.big-box{
    max-width: 100%;
    height: 658px;
    border-radius: 25px;
    box-shadow: -68.6px 68.6px 68.6px 0px #FFFFFF1A inset;

    box-shadow: 68.6px -68.6px 68.6px 0px #A5A5A51A inset;

    backdrop-filter: blur(137.1999969482422px);
    background-color: #D9D9D91A;
    margin-top: 131px;


}
    .biz{
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 48.41px;
        text-align: left;
          color: white;
        margin: 0 auto  ;
        padding-top: 47px !important;
        max-width: 1140px;
    }
    .box-cards4{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin: 0 auto;
        max-width: 1140px;
        padding-top: 44px;
    }
    .card-body6{
        width: 380px;
        height: 450px;
        border-radius: 20px ;
background-color: white;
    }
    .dastur{
        font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        line-height: 36.31px;
        text-align: center;
          padding-top: 49px;
    }
    .icon{
        font-family: Inter;
        font-size: 30px;
        font-weight: 400;
        line-height: 36.31px;
        text-align: center;
        padding-top: 122px;

    }
    .dastur2{
        font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        line-height: 36.31px;
        text-align: center;
        padding-top: 37px;
    }
    .icon2{
        font-family: Inter;
        font-size: 30px;
        font-weight: 400;
        line-height: 36.31px;
        text-align: center;
        padding-top: 102px;

    }
    .aylana8{
        width: 450px;
        height: 450px;
        background: linear-gradient(180deg, #31A8FF 0%, #975AD7 99.99%, #FF0AAD 100%);
        filter: blur(350px) brightness(1.5) contrast(1.2);
        transform: rotate(-57.69deg);
        position: absolute;
        top: 425px;
        right: 90px;
    }
}
@media (min-width: 700px ) and (max-width: 1000px) {
    .big-box{
        max-width: 100%;
        height: 290px;
        border-radius: 25px;
        box-shadow: -68.6px 68.6px 68.6px 0px #FFFFFF1A inset;

        box-shadow: 68.6px -68.6px 68.6px 0px #A5A5A51A inset;

        backdrop-filter: blur(137.1999969482422px);
        background-color: #D9D9D91A;
        margin-top: 26px;


    }
    .biz{
        font-family: Inter;
        font-size: 25px;
        font-weight: 700;
        line-height: 30.26px;
        text-align: left;

        color: white;
        padding-top: 12px !important;
        padding-left: 18px !important;
    }
    .box-cards4{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin: 0 auto;
        max-width: 1140px;
        padding-top: 18px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .card-body6{
        width: 220px;
        height: 210px;
        border-radius: 20px ;
        background-color: white;
    }
    .dastur{
        font-family: Inter;
        font-size: 12px;
        font-weight: 700;
        line-height: 14.52px;
        text-align: center;

        padding-top: 12px;
    }
    .icon{
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;

        text-align: center;
        padding-top: 61px;

    }
    .dastur2{
        font-family: Inter;
        font-size: 12px;
        font-weight: 700;
        line-height: 14.52px;
        text-align: center;
        padding-top: 12px;
    }
    .icon2{
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: center;
        padding-top: 61px;

    }
    .aylana8{
   display: none;
    }
}
@media (min-width: 320px ) and (max-width: 699.5px) {
        .big-box{
            max-width: 100%;
            height: 760px;
            border-radius: 25px;
            box-shadow: -68.6px 68.6px 68.6px 0px #FFFFFF1A inset;

            box-shadow: 68.6px -68.6px 68.6px 0px #A5A5A51A inset;

            backdrop-filter: blur(137.1999969482422px);
            background-color: #D9D9D91A;
            margin-top: 19px;


        }
        .biz{
            font-family: Inter;
            font-size: 20px;
            font-weight: 700;
            line-height: 24.2px;
            text-align: left;


            color: white;
            padding-top: 16px !important;
            margin: 0 auto;
            max-width: 280px;        }
        .box-cards4{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 1140px;
            padding-top: 22px;
            padding-right: 10px;
            padding-left: 10px;
        }
        .card-body6{
            max-width: 300px;
            min-width: 280px;
            height: 220px;
            border-radius: 20px ;
            background-color: white;
        }
        .dastur{
            font-family: Inter;
            font-size: 15px;
            font-weight: 700;
            line-height: 18.15px;
            text-align: center;

            padding-top: 18px;
        }
        .icon{
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24.2px;


            text-align: center;
            padding-top: 62px;

        }
        .dastur2{
            font-family: Inter;
            font-size: 15px;
            font-weight: 700;
            line-height: 18.15px;
            text-align: center;

            padding-top: 18px;
        }
        .icon2{
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24.2px;

            text-align: center;
            padding-top: 62px;

        }
        .aylana8{
            display: none;

    }

}